<html> 
  <head>
    <title>Garrett Memmer</title>
    <script type="text/javascript" src="https://v1.vuejs.org/js/vue.js"></script> <!--dev version, switch to prod when ready to deploy--> 
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
  </head>
  
  <body>
    <div id="container">
      <div id="wrap">
        <div id="header">
          {{ name }}
        </div>
        
        <div id="leftNav">
          <div class="titleHeader">
            <p>Links</p>
          </div>
          <p class="clickable" v-for="nav in navs" v-on:click="changeNav($index)"> {{ nav.title }} </p>
        </div>
        
        <div id="viewNav">
          <div id="singleBox" v-for="temp in temps">
            <div class="titleHeader">
              <p> {{ temp.title }} </p>
            </div>
            <p> {{ temp.description }} </p>
            <a class="srcLinks" v-bind:href="temp.source">{{ temp.sourceName }}</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
