* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  background-color: #7AB6FF;
  padding-bottom: 210px;
}

  p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Roboto";
  }
  
  hr {
    margin-bottom: 80px;
    border-color: #7e7e7e;
  }

  div p {
    margin: 5px;
  }
  
  #wrap {
    margin: 100px auto;
    display: table;
  }
  
/*-----Header------*/
#mainNav.logo {
  height: 84px;
  transition: height 0.4s;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 30%;
  transition: color 0.4s;
}

  #header {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #304866;
    font-size: 30px;
    font-family: "Lobster";
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #7e7e7e;
  }

#nameLogo {
  color: #304866;
  font-size: 50px;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  position: fixed;
  margin-right: 0px;
  max-width: 850px;
  width: 100%;
  top: 0px;
  background: #eee;
  transition: background 0.4s;
}

#mainNav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.4s;
}

#mainNav.is-sticky {
  background: #333;
}

#mainNav.is-sticky a {
  color:#eee;
}

#mainNav.is-sticky .logo img {
  height:64px;
}

/*-----Links------*/
  a.srcLinks {
    color: #304866;
    font-size: 14px;
    padding-left: 5px;
    text-decoration: underline;
    padding-top: 100px;
  }
  
  a.srcLinks:hover {
    color: #7AB6FF;
    text-decoration: underline;
  }
  
  .clickable {
    color: #304866;
    display: inline;
  }
  
  .clickable:hover {
    color: #7AB6FF;
    cursor: pointer;
    text-decoration: underline;
  }


  /*----------------View Nav-------------- */ 
  #viewNav {
    margin-right: 0px;
    max-width: 850px;
    width: 100%;
    height: 500px;
    float: right;
    border: none;
  }
  
  #singleBox:first-of-type {
    margin-top: 0px;
  }

  #singleBox {
    background-color: #ffffff;
    border: 1px solid #7e7e7e;
    border-top: 0px;
    margin-top: 20px;
  }
  
  div.titleHeader {
    margin: 0px;
    color: white;
    background-color: #a8b3c0;
    border: 1px solid #7e7e7e;
    border-left: 0px;
    border-right: 0px;
  }
  
  div.titleHeader p{
    font-weight: 400;
  }

/*----------not used----------
  footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: pink;
  }

    #leftNav {
    float: left;
    width: 20%;
    max-width: 124px;
    height: 439px;
    margin-top: 0px;
    margin-right: -5px;
    border: 1px solid #7e7e7e;
    background-color: #ffffff;
  }
  
  #container {
    margin: 10px;
  }

#mainNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 100px;
  }
  */
  