* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  background-color: #7AB6FF;
  padding-bottom: 210px;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  position: fixed;
  width: 100%;
  top: 0px;
  background: #eee;
  transition: background 0.4s;
}

#mainNav.is-sticky {
  background: #333;
}

#mainNav.is-sticky a {
  color:#eee;
}

#mainNav.is-sticky .logo img {
  height:64px;
}

footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: pink;
}

#mainNav .logo {
  height: 84px;
  transition: height 0.4s;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.4s;
}

#mainNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
  }
  #mainNav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.4s;
  }
  
  p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Roboto";
  }
  
  hr {
    margin-bottom: 80px;
    border-color: #7e7e7e;
  }

  div p {
    margin: 5px;
  }
  
  #container {
    margin: 0px;
  }
  
  #wrap {
    margin: 100px auto;
    display: table;
  }
  
  #header {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #304866;
    font-size: 30px;
    font-family: "Lobster";
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #7e7e7e;
  }


  
  #leftNav {
    float: left;
    width: 20%;
    max-width: 124px;
    height: 439px;
    margin-top: 0px;
    margin-right: -5px;
    border: 1px solid #7e7e7e;
    background-color: #ffffff;
  }
  
  a.srcLinks {
    color: #304866;
    font-size: 14px;
    padding-left: 5px;
    text-decoration: underline;
  
  }
  
  a.srcLinks:hover {
    color: #7AB6FF;
    text-decoration: underline;
  }
  
  .clickable {
    color: #304866;
  }
  
  .clickable:hover {
    color: #7AB6FF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  #viewNav {
    margin-right: 0px;
    width: 75%;
    max-width: 650px;
    height: 500px;
    float: right;
    border: none;
  }
  
  #singleBox {
    background-color: #ffffff;
    border: 1px solid #7e7e7e;
    border-top: 0px;
    margin-top: 20px;
  }
    
  #singleBox:first-of-type {
    margin-top: 0px;
  }
  
  div.titleHeader {
    margin: 0px;
    color: white;
    background-color: #304866;
    border: 1px solid #7e7e7e;
    border-left: 0px;
    border-right: 0px;
  }
  
  div.titleHeader p{
    font-weight: 400;
  }
