
body {
    background-color: #7AB6FF;
    padding-bottom: 210px;
  }
  
  p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Roboto";
  }
  
  hr {
    margin-bottom: 20px;
    border-color: #7e7e7e;
  }
  
  div p {
    margin: 5px;
  }
  
  #container {
    margin: 0px;
  }
  
  #wrap {
    margin: 0px auto;
    display: table;
  }
  
  #header {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #304866;
    font-size: 30px;
    font-family: "Lobster";
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #7e7e7e;
  }
  
  #leftNav {
    float: left;
    width: 20%;
    max-width: 124px;
    height: 439px;
    margin-top: 0px;
    margin-right: -5px;
    border: 1px solid #7e7e7e;
    background-color: #ffffff;
  }
  
  a.srcLinks {
    color: #304866;
    font-size: 14px;
    padding-left: 5px;
    text-decoration: underline;
  
  }
  
  a.srcLinks:hover {
    color: #7AB6FF;
    text-decoration: underline;
  }
  
  .clickable {
    color: #304866;
  }
  
  .clickable:hover {
    color: #7AB6FF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  #viewNav {
    margin-right: 0px;
    width: 75%;
    max-width: 650px;
    height: 500px;
    float: right;
    border: none;
  }
  
  #singleBox {
    background-color: #ffffff;
    border: 1px solid #7e7e7e;
    border-top: 0px;
    margin-top: 20px;
  }
    
  #singleBox:first-of-type {
    margin-top: 0px;
  }
  
  div.titleHeader {
    margin: 0px;
    color: white;
    background-color: #304866;
    border: 1px solid #7e7e7e;
    border-left: 0px;
    border-right: 0px;
  }
  
  div.titleHeader p{
    font-weight: 400;
  }
